In [1]:
#Importamos las carpetas que vamos a utilizar.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df0 = pd.read_csv('bahiakino.txt', sep='\s+')

In [3]:
#Encabezado.
df0.head()

        FECHA PRECIP  EVAP  TMAX  TMIN
0  01/07/1974      0   7.3    35    22
1  02/07/1974      0  10.5    34  22.5
2  03/07/1974      0  13.6  31.5    21
3  04/07/1974      0  10.7    41    28
4  05/07/1974      0  10.9    35    28

In [4]:
#Final.
df0.tail()

           FECHA PRECIP  EVAP  TMAX  TMIN
6630  27/07/2011      0   9.4    34    24
6631  28/07/2011      0     7  33.5  24.5
6632  29/07/2011      0   7.6    33  25.5
6633  30/07/2011      0   8.1    36  25.5
6634  31/07/2011      0  Nulo  Nulo  27.5

In [5]:
#Tipos de variables.
df0.dtypes

FECHA     object
PRECIP    object
EVAP      object
TMAX      object
TMIN      object
dtype: object

In [6]:
#Conversion de Fecha en variable.
df0['FECHA'] = pd.to_datetime(df0.apply(lambda x: x['FECHA'],1), dayfirst=True)

In [7]:
#Conversion de las columnas "Precip", "Evap", "Tmax", "Tmin", en variables numerias.
columnas = ['PRECIP', 'EVAP', 'TMAX', 'TMIN']
df0[columnas] = df0[columnas].apply(pd.to_numeric, errors= 'coerce', axis=1)

In [8]:
df0.head()

       FECHA  PRECIP  EVAP  TMAX  TMIN
0 1974-07-01     0.0   7.3  35.0  22.0
1 1974-07-02     0.0  10.5  34.0  22.5
2 1974-07-03     0.0  13.6  31.5  21.0
3 1974-07-04     0.0  10.7  41.0  28.0
4 1974-07-05     0.0  10.9  35.0  28.0

In [9]:
df0.tail()

          FECHA  PRECIP  EVAP  TMAX  TMIN
6630 2011-07-27     0.0   9.4  34.0  24.0
6631 2011-07-28     0.0   7.0  33.5  24.5
6632 2011-07-29     0.0   7.6  33.0  25.5
6633 2011-07-30     0.0   8.1  36.0  25.5
6634 2011-07-31     0.0   NaN   NaN  27.5

In [10]:
#Tipos de variables ya convertidas.
df0.dtypes

FECHA     datetime64[ns]
PRECIP           float64
EVAP             float64
TMAX             float64
TMIN             float64
dtype: object

In [11]:
#Promedio.
df0.mean()

PRECIP     0.358136
EVAP       6.096420
TMAX      27.111920
TMIN      13.964030
dtype: float64

In [12]:
#Desviacion estandar.
df0.std()

PRECIP    2.788885
EVAP      2.714726
TMAX      5.785450
TMIN      7.048581
dtype: float64

In [13]:
#Calculo de la mediana.
df0.median()

PRECIP     0.0
EVAP       6.0
TMAX      27.0
TMIN      12.5
dtype: float64

In [14]:
#Valores maximos de cada columna.
df0.max()

FECHA     2011-07-31 00:00:00
PRECIP                     70
EVAP                     17.7
TMAX                     48.5
TMIN                       30
dtype: object

In [15]:
#Valores minimos de cada columna.
df0.min()

FECHA     1974-07-01 00:00:00
PRECIP                      0
EVAP                      0.1
TMAX                     10.5
TMIN                       -4
dtype: object

In [16]:
#Resumen estadistico de los datos.
df0.describe()

            PRECIP         EVAP        TMAX         TMIN
count  6619.000000  4721.000000  6485.00000  6486.000000
mean      0.358136     6.096420    27.11192    13.964030
std       2.788885     2.714726     5.78545     7.048581
min       0.000000     0.100000    10.50000    -4.000000
25%       0.000000     4.100000    22.00000     8.000000
50%       0.000000     6.000000    27.00000    12.500000
75%       0.000000     7.900000    32.00000    20.000000
max      70.000000    17.700000    48.50000    30.000000

In [17]:
#Indie de rango.
df0.index

RangeIndex(start=0, stop=6635, step=1)

In [18]:
#Indice de columnas.
df0.columns

Index(['FECHA', 'PRECIP', 'EVAP', 'TMAX', 'TMIN'], dtype='object')

In [19]:
#Juntamos las columnas con filas de datos.
df1 = pd.melt(df0)
df1.head()

  variable                value
0    FECHA  1974-07-01 00:00:00
1    FECHA  1974-07-02 00:00:00
2    FECHA  1974-07-03 00:00:00
3    FECHA  1974-07-04 00:00:00
4    FECHA  1974-07-05 00:00:00

In [20]:
# Crear columnas con Año y Mes extraídos de la columna fecha. 
df0['Año'] = df0['FECHA'].dt.year
df0['Mes'] = df0['FECHA'].dt.month

df0.head(), df0.tail()

(       FECHA  PRECIP  EVAP  TMAX  TMIN   Año  Mes
 0 1974-07-01     0.0   7.3  35.0  22.0  1974    7
 1 1974-07-02     0.0  10.5  34.0  22.5  1974    7
 2 1974-07-03     0.0  13.6  31.5  21.0  1974    7
 3 1974-07-04     0.0  10.7  41.0  28.0  1974    7
 4 1974-07-05     0.0  10.9  35.0  28.0  1974    7,
           FECHA  PRECIP  EVAP  TMAX  TMIN   Año  Mes
 6630 2011-07-27     0.0   9.4  34.0  24.0  2011    7
 6631 2011-07-28     0.0   7.0  33.5  24.5  2011    7
 6632 2011-07-29     0.0   7.6  33.0  25.5  2011    7
 6633 2011-07-30     0.0   8.1  36.0  25.5  2011    7
 6634 2011-07-31     0.0   NaN   NaN  27.5  2011    7)

In [21]:
# Número de años distintos df0['Año'].unique(),
NumA = len(df0['Año'].unique())
print(NumA, "años de datos")

24 años de datos

In [22]:
#Arreglo paraencontrar los el calculo de las precipitaciones.
total=0.0
for i in range(12):
    PrecipitacionMens = df0['PRECIP'][df0['Mes']==[i+1]].sum()/NumA
    total=total+PrecipitacionMens
    print("Mes", i+1,":", np.round(PrecipitacionMens, decimals=2), "mm", ", Acumulada:", 
          np.round(total, decimals=2), "mm")

Mes 1 : 7.51 mm , Acumulada: 7.51 mm
Mes 2 : 5.17 mm , Acumulada: 12.68 mm
Mes 3 : 1.75 mm , Acumulada: 14.42 mm
Mes 4 : 0.67 mm , Acumulada: 15.09 mm
Mes 5 : 0.29 mm , Acumulada: 15.38 mm
Mes 6 : 1.21 mm , Acumulada: 16.59 mm
Mes 7 : 13.35 mm , Acumulada: 29.94 mm
Mes 8 : 27.81 mm , Acumulada: 57.75 mm
Mes 9 : 16.18 mm , Acumulada: 73.92 mm
Mes 10 : 7.98 mm , Acumulada: 81.91 mm
Mes 11 : 3.58 mm , Acumulada: 85.48 mm
Mes 12 : 13.29 mm , Acumulada: 98.77 mm

In [23]:

# Calcular la temperatura promedio Tmin (meses fríos) y Tmax (meses cálidos)

for i in range(12):
    TminPromMensual = df0[df0['Mes']==i+1]['TMIN'].sum()/df0[df0['Mes'] ==i+1]['TMIN'].count()
    print("Tmin Mes", i+1,":", np.round(TminPromMensual, decimals=2), "ºC")
  
print(" ")
    
for i in range(12):
    TmaxPromMensual = df0[df0['Mes']==i+1]['TMAX'].sum()/df0[df0['Mes'] ==i+1]['TMAX'].count()
    print("Tmax Mes", i+1,":", np.round(TmaxPromMensual, decimals=2), "ºC")

Tmin Mes 1 : 6.59 ºC
Tmin Mes 2 : 7.17 ºC
Tmin Mes 3 : 8.59 ºC
Tmin Mes 4 : 10.7 ºC
Tmin Mes 5 : 13.23 ºC
Tmin Mes 6 : 18.23 ºC
Tmin Mes 7 : 23.73 ºC
Tmin Mes 8 : 23.79 ºC
Tmin Mes 9 : 21.98 ºC
Tmin Mes 10 : 15.9 ºC
Tmin Mes 11 : 9.86 ºC
Tmin Mes 12 : 6.89 ºC

Tmax Mes 1 : 19.7 ºC
Tmax Mes 2 : 21.46 ºC
Tmax Mes 3 : 22.93 ºC
Tmax Mes 4 : 25.52 ºC
Tmax Mes 5 : 28.09 ºC
Tmax Mes 6 : 31.99 ºC
Tmax Mes 7 : 33.01 ºC
Tmax Mes 8 : 33.83 ºC
Tmax Mes 9 : 33.13 ºC
Tmax Mes 10 : 29.52 ºC
Tmax Mes 11 : 24.32 ºC
Tmax Mes 12 : 20.9 ºC

In [24]:
# Años húmedos y años secos
# Años incompletos 1981, 1998 - se excluyen
for i in range(1982,1997):
    PrecipAnual = df0['PRECIP'][df0['Año']==[i+1]].sum()
    print("Año", i+1,":", PrecipAnual, "mm")

Año 1983 : 214.2 mm
Año 1984 : 263.9 mm
Año 1985 : 53.0 mm
Año 1986 : 9.0 mm
Año 1987 : 0.0 mm
Año 1988 : 92.0 mm
Año 1989 : 34.0 mm
Año 1990 : 159.0 mm
Año 1991 : 165.0 mm
Año 1992 : 279.0 mm
Año 1993 : 148.0 mm
Año 1994 : 0.0 mm
Año 1995 : 0.0 mm
Año 1996 : 0.0 mm
Año 1997 : 0.0 mm

In [25]:
# Número de datos faltantes por año
for i in range(1982,1997):
    NumDatos= df0['PRECIP'][df0['Año']==[i+1]].count()
    print("Año:", i+1, "Num Datos", NumDatos, ", ", np.round(NumDatos/365.0, decimals=2), "%")

Año: 1983 Num Datos 334 ,  0.92 %
Año: 1984 Num Datos 366 ,  1.0 %
Año: 1985 Num Datos 365 ,  1.0 %
Año: 1986 Num Datos 207 ,  0.57 %
Año: 1987 Num Datos 0 ,  0.0 %
Año: 1988 Num Datos 244 ,  0.67 %
Año: 1989 Num Datos 233 ,  0.64 %
Año: 1990 Num Datos 273 ,  0.75 %
Año: 1991 Num Datos 365 ,  1.0 %
Año: 1992 Num Datos 306 ,  0.84 %
Año: 1993 Num Datos 355 ,  0.97 %
Año: 1994 Num Datos 0 ,  0.0 %
Año: 1995 Num Datos 0 ,  0.0 %
Año: 1996 Num Datos 0 ,  0.0 %
Año: 1997 Num Datos 0 ,  0.0 %